---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const meetingNotes = await getCollection("meeting-notes");
    return meetingNotes.map((item) => ({
        params: { slug: item.slug },
        props: item,
    }));
}
type Props = CollectionEntry<"meeting-notes">;

const card = Astro.props;
const { Content } = await card.render();
---

<Layout title={card.data.title}>
    <div>
        <Content />
    </div>
</Layout>
