---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astro Foam">
    <div>
        <p class="instructions">
            Astro-Foam is an experimental project that combines the power of
            <a href="https://astro.build/">Astro</a> and
            <a href="https://github.com/foambubble/foam">Foam</a>
            to provide a seamless web application for navigating, viewing, and searching
            the Foam knowledge database.
        </p>
    </div>
</Layout>

<style>
</style>
