---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("books");
    return posts.map((item) => ({
        params: { slug: item.slug },
        props: item,
    }));
}
type Props = CollectionEntry<"books">;

const book = Astro.props;
const { Content } = await book.render();
---

<Layout title={book.data.title}>
    <main>
        <div>
            <!-- <h1>{ book.data.title }</h1> -->
            <sub>by { book.data.author }</sub>
            <Content />
        </div>
    </main>
</Layout>
