---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from 'astro:content';

const bookEntries = await getCollection('books');
---

<Layout title="Books">
    <div>
        <ul>
            {
                bookEntries.map(book => (
                    <li>
                        <a href={`/books/${book.slug}`}>{book.data.title}</a>
                    </li>
                ))
            }
        </ul>
    </div>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }
</style>
